.scan-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    color: white;
    font-family: 'Piedra', cursive;
    height: 100%;
    width: 1200px;
    margin: 0 auto;
    animation: leftToRight 1s ease;
}

@keyframes leftToRight {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
}

.scan-page h1 {
    font-size: 36px;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.scan-page p {
    font-size: 18px;
    margin-bottom: 10px;
}

.scan-page img {
    width: 1200px;
    height: auto;
    border: 2px solid white;
    border-radius: 0px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    margin-bottom: 1%;
}

.scan-page .navigation-block {
    position: absolute;
    top: 0;
    bottom: 0;
    cursor: pointer;
}

.scan-page .navigation-block.left {
    left: 0;
}

.scan-page .navigation-block.right {
    right: 0;
}

.scan-page-error {
    color: rgb(255, 255, 255);
    font-size: 36px;
    font-weight: lighter;
    text-shadow: 2px 2px 1px rgb(255, 0, 0);
    width: 100%;
    height: 100px;
    font-family: 'piedra', cursive;
    padding: 10px;
    margin: 50px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: bonus 6s infinite ease-in-out;
}

@keyframes bonus {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

/* LAST PAGE */ 

.last-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: 'Piedra', cursive;
    height: 600px;
    width: 1200px;
    margin: 0 auto;
    gap: 5px;
}

.last-page h2 {
    font-size: 36px;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    animation: appear 2s ease;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7), 0 0 10px rgba(226, 0, 0, 0.3);
    font-family: 'pirata one', cursive;
    font-weight: lighter;
    animation: slideInFromLeft 1s ease;

}

@keyframes appear {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.bouton-last-page {
    height: 100px;

}

.bouton-last-page button {
    width: 400px;
    height: 50px;
    border-radius: 10px;
    text-transform: uppercase;
    font-family: 'Piedra', sans-serif;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: 18px;
    text-shadow: 0 0 2px black;
    transition: all  2s cubic-bezier(0.075, 0.82, 0.165, 1);
    animation: slideInFromLeft 1s ease;
}

  
  @keyframes slideInFromLeft {
    0% {
      transform: translateX(-200px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  @keyframes slideInFromRight {
    0% {
      transform: translateX(200px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  


.bouton-last-page button:hover {
    transform: scale(1.05);
}


.back-scan button {
    background: linear-gradient(45deg, #e60101, #000000);
}

.back-page button {
    background: linear-gradient(45deg, #3f3b3b, #7e7171);
}

.next-scan button {
    background: linear-gradient(45deg, #3353e0, #000000);
}


.fullscreen-mode .scan-page img, .fullscreen-mode .scan-bar, .fullscreen-mode .top-scan-element {
    width: 1600px;
}

.top-scan-element{
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    margin-bottom: 20px;
}


.page-counter{

    padding: 10px;
    border: 2px solid white;
    width: 12%;
    text-align: center;
    border-radius: 15px;
    font-size: 20px;
    font-family: 'poetsen one', sans-serif;

}


.select-scan select {
    background-color: #000000;
    border: 2px solid red;
    border-radius: 10px;
    outline: none;
    padding: 20px;
    color: inherit;
    font-family: 'poetsen one', sans-serif;
    font-size: inherit;
    font-weight: 100;
    overflow: hidden;
}




.select-scan {
    width: 70%;
    padding: 20px;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-progress-bar {
    width: 100%;
    height: 8px;
    background: #e0e0e0;
    bottom: 0px;
    position:fixed;
    overflow: hidden;
  }
  
  .page-progress {
    height: 100%;
    background: #f30b0b;
    transition: width 0.3s ease;
  }





  /* Partie Image scan cursor et hover*/ 
  

.left-half, .right-half {
    cursor: pointer;
    transition: background-color 0.3s ease;
    z-index: 999;
}

.left-half:hover, .right-half:hover {
    background-color: rgba(102, 79, 79, 0.075);
}

.image-container {
    position: relative;
}

.left-half, .right-half {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 50%;
    cursor: pointer;
}

.left-half {
    left: 0;
    cursor: url('../../../public/img/assets/left-arrow.png'); /* Change to the path of your left arrow cursor image */
}

.right-half {
    right: 0;
    cursor: url('../../../public/img/assets/left-arrow.png'); /* Change to the path of your right arrow cursor image */
}


.page-counter input{
    background-color: #000000;
    color: white;
    box-shadow: none;
    border: none;
    font-family: 'piedra', cursive;
    font-size: 20px;
}
