.home-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: 'Piedra', cursive;
    margin-top: 35px;

}

.home-page h2 {
    font-size: 26px;
    text-shadow: 0 0 2px #fff;
    position: relative;
    font-weight: 400;
    font-family: 'metropolis', sans-serif;
}

.home-page h2::after {
    content: '';
    display: block;
    width: 50%;
    height: 3px;
    background-color: white;
    margin: 10px auto 0;
    border-radius: 10px;
    animation: expand-bar 2s forwards;
}

@keyframes expand-bar {
    0% {
        width: 0;
    }
    100% {
        width: 50%;
    }
}


.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 50px;
    width: 60%;
}

.plus-button-container {

    display: flex;
    justify-content: center;
    margin-top: 50px;
    width: 100%;
}

.plus-button {
    background-color: transparent;
    color: white;
    font-size: 24px;
    border: 3px solid white;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.plus-button:hover {
    transform: scale(1.1);
}